<app-navbar></app-navbar>
<body>
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4 mt-2">
        <h2 class="text-center">Bienvenido {{userSession.NombreCompleto}} </h2>
      </div>

      <div class="col-6 image mb-2">
        <div class="card">
          <img class="card-img-top" src="./../../../../assets/img/imageCard.jpg" alt="Card image cap">
        </div>
      </div>
      <div class="col-5 descripcionWeb">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, impedit minus nihil ipsum nemo,
          laboriosam in dicta tempore temporibus placeat veritatis tenetur vel! Inventore eius accusantium mollitia,
          sapiente ea tempore.
        </p><br>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu bibendum sem. Praesent dapibus auctor arcu,ut porta tortor dignissim id.
          Curabitur vestibulum malesuada semper. Sed vitae felis malesuada, finibus erat id, auctor tellus. Integer congue varius velit, at aliquam
          justo commodo nec. Orci varius natoque penatibus et magnisdis parturient montes, nascetur ridiculus mus. Etiam posuere eu urna ut aliquam.
          Suspendisse posuere purus at lobortis ultricies.Cras faucibus quam nec nisi cursus accumsan.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ornare hendrerit leo. Mauris vulputate
          felis eget nisl venenatis, eget lacinia velit rhoncus.
        </p>
      </div>
    </div>
  </div>
</body>
