.jumbotron {
  background: var(--color-primary);
}

div h2 {
  color: var(--color-primary);
  font-weight: bold;
  text-align: center;
}

.card {
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.3);
}


.card-body-limit {
  max-height: 422px;
}

.stock {
  font-weight: bold;
  color: white;
  padding: 0.25rem;
  border-radius: 10px;
  justify-content: center;
  display: grid;
}

.stock-disponible {
  background-color: var(--color-primary);

}

.stock-agotado {
  background-color: var(--color-secondary);

}

// .card-fixed-height {
//   max-height: 120px;
//   overflow: hidden;
// }

// .card-body {
//   max-height: 184px;
// }
