/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";
// MDB SCSS
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

@import "mdb-angular-ui-kit/assets/scss/mdb.scss";

:root {
  --color-primary: #1F4489;
  --color-secondary: #fcc139;

  // Scroll
  overflow-x: hidden;
}
